<?xml version="1.0" encoding="UTF-8"?>

<widget id="A6969911886501" version="0.0.1">
  <name>泰鼎盛</name>
  <description>深圳市泰鼎盛汽车综合服务有限公司是一家专门提供豪车租赁的公司，公司豪车种类繁多，基本上可以满足客户对车型的要求。</description>
  <author email="18817877815@163.com" href="http://www.apicloud.com">何荣文</author>
  <content src="index.html"/>
  <preference name="pageBounce" value="false"/>
  <preference name="appBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>
  <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>
  <preference name="hScrollBarEnabled" value="true"/>
  <preference name="vScrollBarEnabled" value="true"/>
  <preference name="autoLaunch" value="true"/>
  <preference name="fullScreen" value="false"/>
  <preference name="autoUpdate" value="true"/>
  <preference name="smartUpdate" value="false"/>
  <preference name="debug" value="false"/>
  <preference name="statusBarAppearance" value="true"/>
  <permission name="readPhoneState"/>
  <permission name="camera"/>
  <permission name="record"/>
  <permission name="location"/>
  <permission name="fileSystem"/>
  <permission name="internet"/>
  <permission name="bootCompleted"/>
  <permission name="hardware"/>
  <access origin="*"/>
  <feature name="baiduMap">
    <param name="android_api_key" value="D8Lx3YMGz154oxHsAQXW5ODz"/>
    <param name="ios_api_key" value="jZGd8yBzSNL16P3z56iHAFjH"/>
  </feature>
</widget>
